body
{
    background-color: #f2f2f2;
}

input[type=button],input[type=submit] 
{
  background-color:#ff914c; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#logBtn
{
    background-color:#ff914c; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 
}

.modal
{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    border-color:#ff914c;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 700px;
    max-width: 80%;
    
}

.modal.active
{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header
{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px;
    border-color: #ff914c;
}

.modal-header .title
{
    font-size: 15px;
    font-weight: bold;
}

.modal-header .close-button
{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 50px;
    font-weight: bold;
}

.modal-buttons
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
}
.modal-buttons .cancel-registration-button
{
    height: 50px;
    width: 200px;
    background-color: #ff9999;
    cursor: pointer;

}

.modal-buttons .close-button
{
    height: 50px;
    width: 200px;
    background-color: #ff9966;
    cursor: pointer;

}

.modal-body
{
    padding: 10px 15px;
}

#overlay
{
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active 
{
    opacity: 1;
    pointer-events: all;
}

#cancelBtn
{
 border-color: #f44336;
  color: red;
/*  padding: 15px 32px;*/
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width:200px;
  height:50px;
}

#cancelBtn:hover
{
    background-color:red;
    color:black;
}

#logBtn:hover{
      background-color:#000000; 
}
input[type=button]:hover,input[type=submit]:hover 
{
  background-color:#000000; 
}

customerForm 
{
    background-color: whitesmoke;
}

input[type=button]:focus,input[type=submit]:focus
{
  background-color: #f2f2f2; 
  color: black;
}
.customerForm
{
    overflow:hidden;
    margin: auto;
    text-align:center;
}

div.Content
{
    background-color: white;
    border-radius: 25px;
    width:40%;
    margin: auto;
    padding: 7px;
}

input[type=text],input[type=date],input[type=password],input[type=email]
{
    text-align: center;
    width: 100%;
    padding: 4px 20px;
    margin: 0.5px 0;
    box-sizing: border-box;
    border: 3px solid #cccccc;
}


input[type=text]:focus,input[type=date]:focus,input[type=password]:focus,input[type=email]:focus
{
    border: 3px solid #000000;
}



#accessTable
{
    margin-right:auto;
    margin-left:0px;
}

#accessTable th 
{
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}

/*td,tr
{
    width: 1000px;
    height: 100px;
    overflow: hidden;
}*/


#accessTable tr td
{
    width: 1000px;
    height: 30px;
    overflow: hidden;
}

#accessTable tr:nth-child(odd) td
{
    background-color: white;
}


input[required=true]
{
    padding: 10px;
}

#btnRegister
{
    padding: 10px;
    margin:10px;
}

.dropdown
{
    position:absolute;
    top: 60px;
    right: 35px;
    display:inline-block;
    
    
}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropbtn
{
    background: url("dropdown icon.png") no-repeat;
    width: 25px;
    height: 80px;
    background-size: 20px;
    object-fit: contain;
    border: none;
    
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

thead{
    background-color: #ff914c;
}



.dropdown-content
{
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.header
{
   padding: 60px;
 position:relative;
  background-color: #28928b;
  color: white;
  font-size: 30px;
}


#content
{
    margin: auto;
    width: 50%;
    padding:10px;
    text-align: center;
}
img
{
    padding:auto;
    width:300px;
    display: block;
}