<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.LoginServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.RegisterServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.LogoutServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.EditServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AccessLogServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.AccessLogServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RemoveCustomerServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.RemoveCustomerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.StaffLoginServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.AddProductServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.DeleteProductServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.SearchProductServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ShowCollectionServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.ShowCollectionServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.UpdateProductServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RegisterStaffServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.RegisterStaffServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AddProductToOrderServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.AddProductToOrderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.OrderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SaveOrderServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.SaveOrderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EditOrderServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.EditOrderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
        <servlet>
        <servlet-name>ShowOrderServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.ShowOrderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
     <servlet>
        <servlet-name>RemoveProductFromOrderServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.RemoveProductFromOrderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
       <servlet>
        <servlet-name>UpdateExistingOrderServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.UpdateExistingOrderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
           <servlet>
        <servlet-name>ShowOrderByFilterServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.ShowOrderByFilterServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SubmitOrderServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.SubmitOrderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
     <servlet>
        <servlet-name>ExistingOrderServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.ExistingOrderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
         <servlet>
        <servlet-name>AddProductToExistingOrderServlet</servlet-name>
        <servlet-class>com.isd.iotbay.controller.AddProductToExistingOrderServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductToOrderServlet</servlet-name>
        <url-pattern>/AddProductToOrderServlet</url-pattern>
    </servlet-mapping>
       <servlet-mapping>
        <servlet-name>SubmitOrderServlet</servlet-name>
        <url-pattern>/SubmitOrderServlet</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>RemoveProductFromOrderServlet</servlet-name>
        <url-pattern>/RemoveProductFromOrderServlet</url-pattern>
    </servlet-mapping>
       <servlet-mapping>
        <servlet-name>EditOrderServlet</servlet-name>
        <url-pattern>/EditOrderServlet</url-pattern>
    </servlet-mapping>
    
       <servlet-mapping>
        <servlet-name>AddProductToExistingOrderServlet</servlet-name>
        <url-pattern>/AddProductToExistingOrderServlet</url-pattern>
    </servlet-mapping>
         <servlet-mapping>
        <servlet-name>UpdateExistingOrderServlet</servlet-name>
        <url-pattern>/UpdateExistingOrderServlet</url-pattern>
    </servlet-mapping>
       <servlet-mapping>
        <servlet-name>ShowOrderServlet</servlet-name>
        <url-pattern>/ShowOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExistingOrderServlet</servlet-name>
        <url-pattern>/ExistingOrderServlet</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>ShowOrderByFilterServlet</servlet-name>
        <url-pattern>/ShowOrderByFilterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveOrderServlet</servlet-name>
        <url-pattern>/SaveOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCollectionServlet</servlet-name>
        <url-pattern>/ShowCollectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStaffServlet</servlet-name>
        <url-pattern>/RegisterStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessLogServlet</servlet-name>
        <url-pattern>/AccessLogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCustomerServlet</servlet-name>
        <url-pattern>/RemoveCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
               30
           </session-timeout>
    </session-config>
</web-app>
